body 
{
  max-width: 65ch;
  margin: auto;
  padding: 1rem;
}

h1, h2
{
  color: darkgreen;
}

a
{
  text-decoration: none;
}

a:link
{
  color: forestgreen;
}

a:visited
{
  color: darkslateblue;
}

a:hover
{
  color: indianred;
}

